@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header, footer, .information, .quote, .contact {
    padding: 0 10%;
}

header {
    height: 400px;
    flex-direction: column;
    border-radius: 0 0 25px 25px;
}

footer {
    height: 50px;
    margin-top: auto;
    border-radius: 25px 25px 0 0;
}

header, footer {
    background-color: #1f2937;
}

body, header, .top, ul, .banner, .description {
    display: flex;
}

.quote {
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: #e5e7eb;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}

.information {
    height: 400px;
    padding: 15px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards {
    margin: auto 0 auto 0;
    display: flex;
    gap: 15px;
}

.contact, .contact-container {
    display: flex;
    height: 300px;
    align-items: center;
    box-sizing: border-box;
}

.contact-container {
    margin: 0 auto 0 auto;
    gap: 15px;
    padding: 0 20px 0 20px;
    height: 40%;
    background-color: #3882f6;
    border-radius: 25px;
    width: 100%;
    justify-content: center;
}

img{
    display: flex;
    object-fit: contain;
    height: 200px;
    border-radius: 20px;
}

figcaption {
    text-align: center;
}

/*------ HEADER ELEMENTS -------*/

.nav-links {
    margin-left: auto;
    margin-right: 0;
}

li {
    font-family: 'Festive';
    margin-right: 12px;
    list-style: none;
}

.banner {
    width: 100%;
    height: 60%;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
}

.description {
    flex-direction: column;
    align-content:space-around;
    width: 50%;
    gap: 8px;
}

.box {
    display: flex;
    object-fit: contain;
    width: 50%;
    margin-right: 0;
}

.top {
    padding-top: 10px;
}

/*------ TEXT STYLING -------*/

.logo-txt {
    font-size: 24px;
    color: #f9faf8;
}

.nav-links, .description {
    font-size: 24px;
    color: #e5e7eb;
}

.main-txt {
    font-size: 48px;
    color: #f9faf8;
    font-style: bold;
}

.photo-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 800;
}

#quote {
    font-family: 'Montserrat',sans-serif;
    text-align: center;
    font-style: italic;
    font-size: 50px;
}

#author {
    font-size: 30px;
    padding-top: 10px;
}

.contact-txt h3 {
    color: #f9faf8;
}

.contact-txt p {
    color: #f9faf8be;
}

#copyright {
    color: #f9faf8be;
    text-align: center;
    font-size: large;
    padding-top: 15px;
}

/*------ BUTTON STYLING -------*/
button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: large;
    font-weight: bold;
}

.contact-btn1 {
    align-self: flex-start;
    border: none;
}

.contact-btn2 {
    border: 1.5px solid white;
}